{
    "machine": {
        "gpu": 0,
        "cpu": 1000,
        "ram": 1000
    },
    "job": {
        "APIVersion": "V1beta1",
        "Spec": {
            "Deal": {
                "Concurrency": 1
            },
            "Docker": {
                "Entrypoint": [
                    "./start_service.sh"
                ],
                "EnvironmentVariables": [
                    {{ if .LighthouseToken }}"{{ subst "LIGHTHOUSE_TOKEN=%s" .LighthouseToken }}",{{ end }}
                    {{ if .CID }}"{{ subst "CID=%s" .CID }}",{{ end }}
                    {{ if .PrivateKey }}"{{ subst "PRIVATE_KEY=%s" .PrivateKey }}",{{ end }}
                    {{ if .TradeContractAddress }}"{{ subst "TRADE_CONTRACT_ADDRESS=%s" .TradeContractAddress }}",{{ end }}
                    "SOME_DEFAULT_ENV_VAR=value"
                ],
                "Image": "cemdenizsel/test_web3_ai:latest"
            },
            "Engine": "Docker",
            "Network": {
                "Type": "None"
            },
            "PublisherSpec": {
                "Type": "IPFS"
            },
            "Resources": {
                "GPU": ""
            },
            "Timeout": 1800,
            "Verifier": "Noop"
        }
    }
}
.